body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
    background-image: url('https://i.ibb.co/JpxbnwX/Funny-Screenshot-20240322-093833.png');
    background-size: cover;
    background-position: center;
    color: #fff; /* Default text color */
}

header {
    background-color: rgba(51, 51, 51, 0.8); /* Dark semi-transparent background for header */
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

.intro {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.8); /* Dark semi-transparent background for intro section */
    border-radius: 10px;
}

.intro p {
    font-size: 18px;
    line-height: 1.5;
}

.intro ul {
    list-style-type: none;
    padding-left: 0;
}

.intro ul li {
    margin-bottom: 10px;
}

.leaderboard-container {
    margin: 20px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: rgba(51, 51, 51, 0.8); /* Dark semi-transparent background for leaderboard table */
    border-radius: 10px;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #555;
}

th {
    background-color: #555;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #444;
}

tr:hover {
    background-color: #666;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.8); /* Dark semi-transparent background for footer */
    position: sticky;
    bottom: 0;
    z-index: 1000;
}
